<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")">  
                <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/layout.css")"> 
                    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")"> 
                        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/nivo-slider.css")"> 
                            <script src="@routes.Assets.at("javascripts/jquery-1.6.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/cufon-yui.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/cufon-replace.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/Josefin_Sans_400.font.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/Tangerine_700.font.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/atooltip.jquery.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/jquery.nivo.slider.pack.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/jquery.nivo.slider.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/script.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/jquery.sound.js")" type="text/javascript"></script>
                            
                            <!--[if lt IE 9]>
                             <script src="@routes.Assets.at("javascripts/javascripts/html5.js")" type="text/javascript"></script>
                             <style type="text/css">
                             .aToolTip, .box1, .box1 .inner { behavior: url(@routes.Assets.at("javascripts/javascripts/PIE.htc")); }
                             </style>
                             <![endif]-->
                            <!--[if lt IE 7]>
                             <div style='clear:both;text-align:center;position:relative'>
                             <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" alt="" /></a>
                             </div>
                             <![endif]-->
    </head>
    <body id="page1">
        <div class="body1">
            <div class="main">
                <!-- header -->
                <header>
                    <div class="wrapper"><link rel="shortcut icon" type="image/png" href=>
                        <ul id="icons">
                            <li><a href="#" class="normaltip" title="Facebook"><img src="@routes.Assets.at("images/icon1.png")" alt=""></a></li>
                        </ul>			
                        
                        <div ><span style="float:left">Sound File:</span><span id="sound_file_name"> &nbsp;</span></div>
                        </div>
                    <div class="wrapper">
                        <h1><a href="@routes.Application.index()" id="logo"></a></h1>
                        <nav>
                            <ul id="menu">
                                <li class="first"><a href="@routes.Application.index2()">Wedding</a></li>
                                <li><a href="@routes.Application.index3()">Trip</a></li>
                                <li><a href="@routes.Application.index4()">Accomodation</a></li>
                                <li><a href="@routes.Application.index5()">Information</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="slider_box">
                        <div class="slider">
                            <img src="@routes.Assets.at("images/img1.jpg")" alt="">
                                <img src="@routes.Assets.at("images/img2.jpg")" alt="">
                                    <img src="@routes.Assets.at("images/img3.jpg")" alt="">
                                        <img src="@routes.Assets.at("images/img4.jpg")" alt="">
                                            <img src="@routes.Assets.at("images/img5.jpg")" alt="">
                                                </div>
                    </div>
                </header><div class="ic">More <a href="http://www.templatemonster.com/">Website Templates</a> </div>
                <!-- / header -->
            </div>
        </div>
        <div class="body3">
            <div class="main">
                <!-- content -->
                <article id="content">
                    <div class="wrapper">
                        <div class="pad">
                            <h2>About <span>Our Wedding</span></h2>
                            <figure class="img1"><img src="@routes.Assets.at("images/page1_img1.jpg")" alt=""></figure>
                            <p>This theme is one of <a href="http://blog.templatemonster.com/free-website-templates/" target="_blank">free website templates</a> created by TemplateMonster.com, optimized for 1024X768 screen resolution. It is also XHTML &amp; CSS valid. </p>
                            <p><a href="http://blog.templatemonster.com/2011/08/08/free-website-template-clean-style-jquery-slider-wedding/" class="list">Wedding Template</a> goes with two packages: with PSD source files and without them. PSD source files are available for free for the registered members of Templates.com. The basic package is available for anyone without registration.</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="pad_left1">
                            <section class="cols">
                                <div class="box1">
                                    <div class="inner">
                                        <h2>Useful <span>Links</span></h2>
                                        <div class="wrapper">
                                            <span class="dropcap1">01</span>
                                            <div class="col1">
                                                <p>
                                                <a href="#" class="link1">Wedding Plan</a><br>
                                                Sed ssssss ut perspiciatis unde omiste natueror vouptatem accusantium doloremque laudantium totamm aperiam eaque ipsa quae ab illo inventore veritatis.
                                                </p>
                                            </div>	
                                        </div>
                                        <div class="wrapper">
                                            <span class="dropcap1">02</span>
                                            <div class="col1">
                                                <a href="#" class="link1">Photographer</a><br>
                                                Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam volup tatem quia voluptasit aspernatur aut odit quia consequuntur magni est.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="cols pad_left2">
                                <div class="box1">
                                    <div class="inner">
                                        <h2>Our <span>Couple</span></h2>
                                        <div class="wrapper">
                                            <figure class="left marg_right1"><img src="@routes.Assets.at("images/page1_img2.jpg")" alt=""></figure>
                                            <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus nditis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non.
                                            </p>
                                            Provident similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expecumque nihil impedit quo minus id quod.
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </article>
                <!-- content / -->
            </div>
        </div>
        <div class="body2">
            <div class="main">
                <!-- footer -->
                <footer>
                    <a href="http://www.templatemonster.com/" target="_blank">Website Template</a> by TemplateMonster.com<br>
                    <a href="http://www.templates.com/product/3d-models/" target="_blank">3D Models</a> provided by Templates.com
                </footer>
                <!-- / footer -->
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {           
                              $.fn.soundPlay({url: 'https://dl.dropbox.com/u/20057496/Honey%20Soundtrack%20Ooh%20Wee%20%28DjSerryck%29.mp3', playerId: 'embed_player', command: 'play'});
                              $("#sound_file_name").html("I_Like_It_I_Love_It.mid");
                              });
            </script>
        <script type="text/javascript" charset="utf-8"> Cufon.now(); </script>
        <script type="text/javascript" charset="utf-8">
            $(window).load(function() {
                           $('.slider').nivoSlider({
                                                   effect:'fold', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft' 
                                                   slices:17,
                                                   animSpeed:500,
                                                   pauseTime:8000,
                                                   startSlide:0, //Set starting Slide (0 index)
                                                   directionNav:true, //Next & Prev
                                                   directionNavHide:false, //Only show on hover
                                                   controlNav:true, //1,2,3...
                                                   controlNavThumbs:false, //Use thumbnails for Control Nav
                                                   controlNavThumbsFromRel:false, //Use image rel for thumbs
                                                   controlNavThumbsSearch: '.jpg', //Replace this with...
                                                   controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
                                                   keyboardNav:true, //Use left & right arrows
                                                   pauseOnHover:true, //Stop animation while hovering
                                                   manualAdvance:false, //Force manual transitions
                                                   captionOpacity:1, //Universal caption opacity
                                                   beforeChange: function(){},
                                                   afterChange: function(){Cufon.refresh();},
                                                   slideshowEnd: function(){} //Triggers after all slides have been shown
                                                   });
                           });
            </script>
    </body>
    
</html>

