<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trip</title>
        <meta charset="utf-8">
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")">  
                <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/layout.css")"> 
                    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")"> 
                        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/nivo-slider.css")"> 
                            <script src="@routes.Assets.at("javascripts/jquery-1.6.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/cufon-yui.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/cufon-replace.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/Josefin_Sans_400.font.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/Tangerine_700.font.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/atooltip.jquery.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/jquery.nivo.slider.pack.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/jquery.nivo.slider.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/script.js")" type="text/javascript"></script>
                            <script src="@routes.Assets.at("javascripts/jquery.sound.js")" type="text/javascript"></script>
                            
                            <!--[if lt IE 9]>
                             <script src="@routes.Assets.at("javascripts/javascripts/html5.js")" type="text/javascript"></script>
                             <style type="text/css">
                             .aToolTip, .box1, .box1 .inner { behavior: url(@routes.Assets.at("javascripts/javascripts/PIE.htc")); }
                             </style>
                             <![endif]-->
                            <!--[if lt IE 7]>
                             <div style='clear:both;text-align:center;position:relative'>
                             <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" alt="" /></a>
                             </div>
                             <![endif]-->
                            </head>

    <body id="page3">
        <div class="body1">
            <div class="main">
                <!-- header -->
                <header>
                    <div class="wrapper">
                        <ul id="icons">
                            <li><a href="https://www.facebook.com/groups/443334069031955/" class="normaltip" title="Facebook"><img src="@routes.Assets.at("images/icon1.png")" alt=""></a></li>
                            <li><a href="@routes.SignUp.blank()" class="normaltip" title="Log in">Log in</a></li>
                        </ul>
                    </div>
                    <div class="wrapper">
                        <h1><a href="@routes.Application.index()" id="logo"></a></h1>
                        <nav>
                            <ul id="menu">
                                <li class="first"><a href="@routes.Application.index2()">Wedding</a></li>
                                <li id="menu_active"><a href="@routes.Application.index3()">Trip</a></li>
                                <li><a href="@routes.Application.index4()">Accomodation</a></li>
                                <li><a href="@routes.Application.index5()">Info</a></li>
                                <li><a href="@routes.Application.index6()">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
                <!-- / header -->
            </div>
        </div>
        <div class="body3">
            <div class="main">
                <!-- content -->
                <article id="content">
                    <div class="wrapper">
                        <div class="pad">
                            <h2><span>Trip</span></h2>
                            <p>
                            <strong> From Seorak Mountain along the east coast to Gyeongju. </strong>
                            
                            </p>
                             <p >
                            Mt. Seorak is a gorgeous
                            mountain and national park, very popular for leaf viewing in fall. We may witness the first 
                            colorful leaves of autumn changing, which actually begins early-to-mid October and 
                            peaks end of October. 
                            </p>
                            
                            <p >
                        Gyeongju war the capital of Shilla Kingdom for about thousand years, the longest surviving
                            Kingdom in the history of Korea. It is therefore rich with history and ancient relics. Locals
                            literally live with the ancestors since the royal tombs are such an integral part of the whole 
                            city.  
                            </p>
                            
                            <p >
                            We hope to enjoy the clear autumn days together.
                            <br/>
                            <br/>

                            </p>
                            
                              <p Style="text-align: center">
                            <strong>Monday, Sep. 24th</strong><br/>
                            Departure to Yangyang, Daemyung Sol Beach resort<br/>
                            * Departure time, means of transport yet unknown *<br/>
                            (209 km, expected journey time 3h 30min.)                            <figure class="left marg_right1"><img src="@routes.Assets.at("images/a1.png")" alt="">
                            <img src="@routes.Assets.at("images/a3.png")" alt=""></figure>
                            <p> <a href="http://www.daemyungresort.com/asp/resort/solbeach/main.asp" class="link1">source : click</a>
                            </p>
                            </p>
                            
                             <div >
                            <p Style="text-align: center">
                            <strong>Tuesday, Sep. 25th</strong><br/>
                            Hike in the Seorak Mountains <br/>
                            
                            <figure class="left marg_right1" > 
                                <img src="@routes.Assets.at("images/seorak7.png")" alt="">
                                <img src="@routes.Assets.at("images/seorak1.png")" alt="">
                                <img src="@routes.Assets.at("images/seorak3.png")" alt="">
                                <img src="@routes.Assets.at("images/seorak5.png")" alt="">
                                <a href="http://english.knps.or.kr/Photo/NaturalContent.aspx?MenuNum=3&Submenu=Natural&ParkDiv=&PhoDiv02=01&PhoDiv03=02&PhoDiv04=04&PageNo=43&MoveFirst=Yes" class="link1">source : click</a>  
                                    <br/>
                                    <br/>
                                    

                            </figure>
                                 <br/>

                            </p>
                               </div>     
                                
                            <div>
                              <p Style="text-align: center">
                                <strong> Wednesday, Sep. 26th</strong><br/>
                                Visit Naksansa Temple <br/>
                                Along the east coast, Departure to Gyeongju, Daemyung resort  <br/>
                                (298 km, expected journey time 5h.)
                                <figure class="left marg_right1" style="margin-bottom: 20px;">
                                  <img src="@routes.Assets.at("images/naksan2.png")" alt=""> 
                                            <img src="@routes.Assets.at("images/eastCoast4.png")" alt="">
                                 <img src="@routes.Assets.at("images/eastCoast2.png")" alt="">
                          
                                <img src="@routes.Assets.at("images/g1.png")" alt=""> 
                               
                                Source :   <a href="http://blog.naver.com/james311?Redirect=Log&logNo=60118143212" class="link1">1_</a> 
                                <a href="http://blog.naver.com/james311?Redirect=Log&logNo=60118143212" class="link1">2_</a> 
                                <a href="http://blog.naver.com/ds2cpt?Redirect=Log&logNo=50143071358" class="link1">3_</a> 
                                <a href="http://www.daemyungresort.com/asp/resort/gyeongju/main.asp" class="link1">4_</a> 
                                </figure> 
                                </p>
                             </div>  
                                
                              <p Style="text-align: center">
                           <strong> Thursday, Sep. 27th</strong><br/>
                            Gyeongju city tour incl. Bulguksa Temple, UNESCO World Heritage<br/>
                            
                            <figure class="left marg_right1" style="margin-bottom: 20px;">
                                <img src="@routes.Assets.at("images/shin2.png")" alt="">
                                                          <img src="@routes.Assets.at("images/bulguksa.png")" alt="">
                                <img src="@routes.Assets.at("images/badotab.png")" alt="">                              
                                <img src="@routes.Assets.at("images/anabsi.png")" alt=""> 
                                Source :   <a href="http://blog.naver.com/squalllion0?Redirect=Log&logNo=60148505922" class="link1">1_</a> 
                                <a href="http://photo.naver.com/view/2007102811314900219" class="link1">2_</a> 
                                <a href="http://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=103&oid=003&aid=0004393777" class="link1">3_</a> 
                                    <a href="http://cafe.naver.com/since1839/4616" class="link1">4_</a> 
                            </figure>
                            
                            
                            
                            </p>
                              <p Style="text-align: center">
                           <strong> Friday, Sep. 28th</strong><br/>
                            Individuell departure, for most of you, back to Seoul<br/>
                            
                            <figure class="left marg_right1">
                                
                                <img src="@routes.Assets.at("images/bomun2.png")" alt="">
                                    <img src="@routes.Assets.at("images/gyeongju1.png")" alt="">
                                        <img src="@routes.Assets.at("images/shingyeonju.png")" alt="">
                                            <br/>
                                            <br/>
                                            <br/>
                                                                        </p>
                              <p>
                            All the destinations and attrations above are described at
                                             <a href="http://www.visitkorea.or.kr" class="link1">www.visitkorea.or.kr</a> 
                                            
                            </p>
                         
                               <p>  
                               Transports and accommodations will be organized except the return journey due to varying individual plans. So please care about your return trip from Gyeongju by yourself.
                             </p>  
                            
                                <p> 
                                <h3><span>!!! The return journey must be booked in advance !!!</span></h3><br/>
                                The major three-day holiday, called Chuseok (the full moon harvest festival) falls on the following weekend, September 29 - October 1. There is a mass <br/>exodus of Koreans returning to their hometowns with extreme traffic jam, which is known to be worse  on the southward highway from Seoul than on the <br/>northward highway to Seoul). Buying a train ticket at short notice will not be possible!!!
                               </p> 
                                <p> 
                                We recommend to organize the return journey early enough. You have the following possibility: <br/>
                                            - You can buy a train ticket a month in advance.It takes less than 2.5 hours with the KTX train from Gyeongju to Seoul.   <a href="http://www.korail.com" class="link1">www.korail.com</a> 
 or<br/>
                                - take an inline flight from Busan airport  to Seoul/Gimpo Airport.There will be a airport shuttle bus at the Gyeongju bus terminal. 
                                            <a href="http://www.koreanair.com" class="link1">www.koreanair.com</a> 
<br/>
                                </p>
                               
                        </div>
                   <!--     <div class="pad" style="margin-top: 40px;">
                            <h2><span>Figure </span></h2>
                            <figure class="left marg_right1" style="margin-bottom: 40px;"><img src="@routes.Assets.at("images/routplan.jpg")" alt=""></figure>
                           
                        </div> -->
                        <div class="pad" style="margin-top: 40px;">
                            <h2>Please bring </h2>
                            <p><strong>Hiking clothes boots, maybe swimsuit</strong> </p>
                        </div>
                    </div>
                </article>
                <!-- content / -->
            </div>
        </div>
        <div class="body2">
            <div class="main">
  
            </div>
        </div>
        <script type="text/javascript"> Cufon.now(); </script>
        <script type="text/javascript">
            $(window).load(function() {
                           $('.slider').nivoSlider({
                                                   effect:'fold', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft' 
                                                   slices:17,
                                                   animSpeed:500,
                                                   pauseTime:8000,
                                                   startSlide:0, //Set starting Slide (0 index)
                                                   directionNav:true, //Next & Prev
                                                   directionNavHide:false, //Only show on hover
                                                   controlNav:true, //1,2,3...
                                                   controlNavThumbs:false, //Use thumbnails for Control Nav
                                                   controlNavThumbsFromRel:false, //Use image rel for thumbs
                                                   controlNavThumbsSearch: '.jpg', //Replace this with...
                                                   controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
                                                   keyboardNav:true, //Use left & right arrows
                                                   pauseOnHover:true, //Stop animation while hovering
                                                   manualAdvance:false, //Force manual transitions
                                                   captionOpacity:1, //Universal caption opacity
                                                   beforeChange: function(){},
                                                   afterChange: function(){Cufon.refresh();},
                                                   slideshowEnd: function(){} //Triggers after all slides have been shown
                                                   });
                           });
            </script>
                                <script type="text/javascript">
                                    
                                    var _gaq = _gaq || [];
                                    _gaq.push(['_setAccount', 'UA-33073059-1']);
                                    _gaq.push(['_trackPageview']);
                                    
                                    (function() {
                                     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                                     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                                     })();
                                    
                                    </script>
    </body>
</html>
